@model IEnumerable<LexNews_Charlie.Models.Article>
@{
    ViewData["Title"] = "Home Page";
}
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container "style="background-color:red">
    <div class="tradingview-widget-container__widget "></div>
    <div class="tradingview-widget-copyright ">
        <a class="text-light" href="https://www.tradingview.com/markets/" rel="noopener" target="_blank"><span class="text-white" style="font-size:25px;">Markets today</span></a> by TradingView
    </div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
          {
          "symbols": [
            {
              "proName": "FOREXCOM:SPXUSD",
              "title": "S&P 500"
            },
            {
              "proName": "FOREXCOM:NSXUSD",
              "title": "US 100"
            },
            {
              "proName": "FX_IDC:EURUSD",
              "title": "EUR/USD"
            },
            {
              "proName": "BITSTAMP:BTCUSD",
              "title": "Bitcoin"
            },
            {
              "proName": "BITSTAMP:ETHUSD",
              "title": "Ethereum"
            }
          ],
          "showSymbolLogo": true,
          "colorTheme": "dark",
          "isTransparent": false,
          "displayMode": "adaptive",
          "locale": "en"
        }
    </script>
</div>
<!-- TradingView Widget END -->
<div class="container-flex text-center">
    <div class="row">
        <div class="col-sm-3 p-3">            
            <div>
                <h3>Most Popular</h3>
            </div>
            @await Component.InvokeAsync("MostPopular")
        </div>
        <div class="col-sm-6 p-4 align-content-center">
            <div>
                <h3>Latest News</h3>
            </div>
           @await Component.InvokeAsync("LatestNews")
        </div>
        <div class="col-sm-3 p-3">
           
                <div>
                    <h3>Editor's Choice</h3>
                </div>
                @await Component.InvokeAsync("EditorsChoice")
            
        </div>
    </div>
</div>


