@{
    ViewData["Title"] = "Privacy Policy";
    var tempstring = TempData["ShowMessage"];
}
<h1>@tempstring</h1>
<div class="container-flex p-3">
<h3>What is a cookie?</h3>
<p>
    A cookie is a small file that can be placed on your device. It is sent to your browser and stored on your computer’s hard drive,<br />
    tablet or mobile device. When you visit our sites or apps it can allow us to recognise and remember you.</p>


<h3>Technologies similar to cookies</h3>

<p>Technologies that store or access information on a user’s device are similar to cookies and also covered by this policy.<br />
    These technologies may include:</p>

<li>Device fingerprinting – using a set of information without relying on cookies in order to identify a particular device. For this purpose where you are resident in Australia,<br />
    our partner Ipsos Iris may collect your IP address, monitor settings, type of browser and operating system to create a unique serial number which constitutes a digital “fingerprint”.</li>
<li>Local storage – storage of data in the local device’s cache, for example to load content quicker.</li>
<li>Pixels – a small pixel graphic which is used to track user behaviour, site conversions etc.</li>
<li>Scripts – small computer programs embedded within websites that give them extra functionality but may access user devices.</li>
<p>In this policy we call all cookies and similar technologies “cookies”, for ease.</p>

<h3>First-party and third -party cookies</h3>
<h4>There are different types of cookies:</h4>

<li>First-party cookies – cookies that are set by the Guardian when you use our site</li>
<li>Third-party cookies – cookies that are set by other parties or organisations (other than the Guardian) when you use our site.<br />
    Some Guardian web pages may also contain content from or link to other sites which may set their own cookies. If you share a link to a Guardian page,<br />
    the service you share it on may set a cookie on your browser.</li><br />

<h3>How do we use cookies?</h3>
<h4>We use cookies in a range of ways to improve your experience on our sites or apps (“site”), including:</h4>

<li>Keeping you signed in</li>
<li>Understanding how you use our site, for instance how long you stay on a page or which article you read next</li>
<li>Delivering content to you</li>
<li>Showing you journalism that is relevant to you</li>
<li>Showing you Guardian products and services that are relevant to you</li>
<li>Delivering marketing and service messages to you on our site</li>
<li>Working with partners to deliver relevant advertising to you</li>
<li>Reminding you to complete online journeys</li>
<li>Processing payments and refunds</li>
<li>Monitoring how users interact with pages on our site to identify and remedy interface issues</li>
<li>In the next sections, we explain in more detail how cookies on our site may be useful, as well as when and where you can control them.</li>

<h3>What types of cookies do we use?</h3>
<h4>We use four types of cookies:</h4>

<li>Strictly Necessary – These cookies are essential to provide you with services you have requested, which means they cannot be switched off through the privacy settings link.<br />
    For example, strictly necessary cookies make it possible for you to stay logged into your Guardian account and make comments. If you set your browser to block these cookies,<br />
    then these functions and services will not work for you. In particular, we won’t be able to save your preferences about cookies.</li>
<li>Performance – These cookies measure how often you visit our sites and how you use them. We use this information to get a better sense of how you engage with our journalism and to improve our sites and apps so that you have a better experience.<br />
    For example, we collect information about which of our pages are most frequently visited, and by which types of users. We also use third-party cookies to help with performance.</li>
Functionality – These cookies are used to recognise you and remember your preferences or settings when you return to our site so that we can provide you with a more personalised experience.<br />
<li>Advertising – These cookies are used to collect information about your visit to our site, including the content you have viewed, the links you have followed and information about your browser,<br />
    device and your IP address. We have set out more details on this below.</li>
<h3>How long do cookies last?</h3>
<p>Session cookies – These cookies only last as long as your online session and expire when you close your browser such as Internet Explorer or Safari
    Persistent cookies – These cookies stay on your device after your browser has been closed and last for a time specified in the cookie (but not longer than 13 months). We use these cookies when we need to remember you for more than one browsing session,<br />
    for instance to remember your preferences from one visit to the next.
</p>
</div>