@{
    ViewData["Title"] = "ShowCharts";
}

<div class="text-center">
    <h1>Charts for Electricity Prices</h1>
    <h6>
        Electricity prices generally reflect the cost to build, finance, maintain, and operate power plants and the electricity grid<br />
        (the complex system of power transmission and distribution lines).<br />
        Some for-profit utilities also include a financial return for owners and shareholders in their electricity prices.<br />
    </h6>
    <div class="align-content-center">
        <img src="~/images/icons8-light.gif" />
        <ul><a class="nav-link-b" asp-area="" asp-controller="Home" asp-action="VisualizeElectricPrices"> Historical Highest Prices</a></ul>
        <ul><a class="nav-link-b" asp-area="" asp-controller="Home" asp-action="ShowElectricPrices">Historical Lowest Prices</a></ul>
    </div>
</div>
