



<dibv class="row ">
    <div class="col-md-4 bg-danger text-light"style="border:black 3px solid;font-size:30px">

       <a class=" nav-link text-light mt-5 ms-3 p-2" asp-area="" asp-controller="Internal" asp-action="MySubscriptions">View your subscriptions</a>
       <a class=" nav-link text-light ms-3 p-2" asp-area="Identity" asp-page="/Account/ResetPassword">Reset Password</a>
       <a class="nav-link text-light ms-3 p-2 " asp-area="" asp-controller="Internal" asp-action="NewsLetter"> Personalized News</a>

    </div>
</dibv>